unit_test/*/* linguist-vendored
examples/colgroup/*/* linguist-vendored
examples/helloworld/*/* linguist-vendored
externals/*/*/* linguist-vendored
powershell/* linguist-vendored
readme/* linguist-vendored
readme/*/* linguist-vendored